.workflow {
  padding: 100px 0;
}

#workflow-title {
  font-family: "Lora", sans-serif;
  font-size: 55px;
  margin-right: 50px;
  font-weight: 400;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 750px) {
  #workflow-title {
    font-size: 44px;
  }
}

@media (max-width: 575px) {
  #workflow-title {
    font-size: 37px;
  }
}

@media (max-width: 550px) {
  #workflow-title {
    justify-content: center;
    margin-right: 0px;
  }
}
