.service {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 475px));
  justify-content: center;
  /* gap: 20px 0px; */
  overflow: hidden;
}

@media (max-width: 1150px) {
  .service {
    grid-template-columns: repeat(1, minmax(140px, 700px));
  }
}

@media (max-width: 775px) {
  .service {
    grid-template-columns: repeat(1, minmax(140px, 550px));
    padding: 50px 0;
  }
}

@media (max-width: 550px) {
  .service {
    grid-template-columns: repeat(1, minmax(75px, 100%));
    padding: 50px 25px;
  }
}
