.serviceTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.serviceTitle img {
  margin-bottom: 10px;
  height: 75px;
  width: 75px;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.singleService {
  padding: 50px 50px;
  font-family: "Lora", sans-serif;
}

.serviceTitle h1 {
  font-family: "Merriweather", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}

.serviceTitle p {
  font-family: "Lora", sans-serif;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

@media (max-width: 1150px) {
  .serviceTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .serviceTitle p {
    text-align: left;
    font-size: 19px;
  }
  .serviceTitle h1 {
    text-align: left;
  }

  .service {
    grid-template-columns: repeat(1, minmax(140px, 700px));
  }
}
@media (max-width: 775px) {
  .service {
    grid-template-columns: repeat(1, minmax(140px, 550px));
    padding: 50px 0;
  }

  .singleService {
    border-bottom: 0.25px solid rgb(200, 200, 200);
  }
}

@media (max-width: 550px) {
  .service {
    grid-template-columns: repeat(1, minmax(75px, 100%));
    padding: 50px 25px;
  }

  .singleService {
    padding: 50px 0px;
    width: 100%;
  }

  .serviceTitle {
    display: flex;
    flex-direction: column;
  }

  .serviceTitle p {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .serviceTitle h1 {
    font-size: 23px;
  }
}

@media (max-width: 450px) {
  .serviceTitle h1 {
    font-size: 20px;
  }
}
