@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #f7f9f2;
}

html {
  overflow-x: hidden;
}

:root {
  --green: #41b3a3;
  --green: #98ddd4c9;
  --text-black: #404040;
  --max-width: 1170px;
  --fixed-width: 920px;
}

#logo {
  height: 60px;
  width: 60px;
}
