@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #f7f9f2;
}

html {
  overflow-x: hidden;
}

:root {
  --green: #41b3a3;
  --green: #98ddd4c9;
  --text-black: #404040;
  --max-width: 1170px;
  --fixed-width: 920px;
}

#logo {
  height: 50px;
  width: 50px;
}

/* Mobile classes */

.mobile-nav__bin {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__copyright {
  color: #f7f9f2;
  font-family: "Lora", sans-serif;
  font-size: 15px;
}

.mobile-nav__image {
  height: 75px;
  width: 75px;
}
